@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto&display=swap');

$maxWidth: 1920;
$minWidth: 320;

$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
);

$z-indexes: (
  'outdated-browser',
  'modal',
  'site-header',
  'page-wrapper',
  'site-footer'
);

$colors: (
  'white-bg': #ffffff,
  'white-text': #fef4f1,
  'black-text': #101130,
  'gray-text': #606176,
  'main-bg': #728fc2,
  'blue-bg': #e8f1ff,
  'blue-text': #2378ff,
  'orange-bg': #f77e53,
  'second': rgb(39, 202, 69),
  'font': #ffffff,
  'linkHover': rgb(21, 21, 21),
  'overlay': rgba(0, 0, 0, 0.5),
);

$fonts: (
  'primary': (
    'Inter',
    sans-serif,
  ),
  'secondary': (
    'Roboto',
    sans-serif,
  ),
);

$transition: (
  'primary': (
    all 300ms ease-in-out,
  ),
  'secondary': (
    all 800ms,
  ),
);
