@use '../core' as *;

.Footer {
  .links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    column-gap: 25px;
    width: 100%;
    margin-bottom: 100px;

    @include mq('tablet') {
      grid-template-columns: repeat(3, auto);
      gap: 25px;
    }

    @include mq('phablet') {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    div {
      display: flex;
      flex-direction: column;
    }

    h4 {
      margin: 10px 0 35px;
      font-weight: 600;
      @include adaptiv-font(24, 14);
    }

    .logo {
      margin-bottom: 30px;

      @include mq('phablet') {
        max-width: 120px;
      }
    }

    .slogan {
      max-width: 285px;
      width: 100%;
      @include adaptiv-font(16, 12);
    }

    a {
      margin-bottom: 21px;
      @include adaptiv-font(16, 12);
      color: get($colors, 'gray-text');
    }
  }

  .copyrights {
    padding: 40px 0;
    border-top: 1px solid get($colors, 'gray-text');
    color: get($colors, 'gray-text');
    @include adaptiv-font(15, 12);
  }
}
