@use '../core' as *;

.HowItWorks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
  @include mq('tablet') {
    flex-direction: column;
  }
  .img {
    position: relative;
    height: 703px;
    width: 429px;

    @include mq('tablet-wide') {
      height: 503px;
    }

    @include mq('tablet') {
      height: 703px;
    }

    @include mq('phablet') {
      height: 500px;
      width: 300px;
    }
  }

  .mainInfo {
    max-width: 607px;

    @include mq('tablet-wide') {
      max-width: 65%;
    }
    @include mq('tablet') {
      max-width: 100%;
    }

    h2 {
      max-width: 431px;
      margin-bottom: 60px;
      font-weight: bold;
      line-height: 56px;
    }

    .infoBoard {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 45px 82px;

      @include mq('phablet') {
        grid-template-columns: repeat(1, 1fr);
      }

      svg {
        margin-bottom: 26px;
      }
      h3 {
        margin-bottom: 12px;
        @include adaptiv-font(20, 18);
      }

      p {
        color: get($colors, 'gray-text');
        @include adaptiv-font(18, 16);
        line-height: 30px;
      }
    }
  }
}
