@use '../core' as *;

.OnlineSchool {
  margin-bottom: 130px;
  .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;

    h2 {
      max-width: 431px;
      font-weight: bold;
      line-height: 56px;
    }

    button {
      padding: 19px 23px;
      margin-left: auto;
      border-radius: 12px;
      border: 1px solid get($colors, 'blue-text');
      color: get($colors, 'blue-text');
      background: transparent;
      font-size: 18px;
      transition: get($transition, 'primary');

      &:hover {
        background: get($colors, 'blue-text');
        color: get($colors, 'white-text');
      }
    }
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 270px));
    justify-content: space-between;

    @include mq('tablet') {
      grid-template-columns: repeat(2, minmax(220px, 270px));
      justify-items: center;
      justify-content: space-around;
    }

    @include mq('phablet') {
      grid-template-columns: repeat(1, minmax(220px, 270px));
    }

    .item {
      padding: 12px 15px;

      &:last-child {
        @include mq('tablet') {
          grid-column-start: span 2;
          max-width: 270px;
        }
        @include mq('phablet') {
          grid-column-start: 1;
        }
      }

      .img {
        margin-bottom: 16px;
      }

      h4 {
        margin-bottom: 38px;
        font-weight: 600;
        line-height: 26px;
        @include adaptiv-font(20, 16);
      }

      .analyse {
        display: flex;
        margin-bottom: 25px;
        div {
          display: flex;

          svg {
            margin-right: 5px;
          }

          &:first-child {
            margin-right: 40px;

            @include mq('tablet-wide') {
              margin-right: 20px;
            }
          }
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 9px 0;
        border-radius: 14px;
        border: 1px solid get($colors, 'blue-text');
        color: get($colors, 'blue-text');
        font-size: 14px;
        background: transparent;
        transition: get($transition, 'primary');

        &:hover {
          background: get($colors, 'blue-text');
          color: get($colors, 'white-text');

          svg {
            path {
              fill: get($colors, 'white-text');
            }
          }
        }

        svg {
          margin-right: 10px;

          path {
            transition: get($transition, 'primary');
          }
        }
      }
    }
  }
}
