@use '../core' as *;

.Partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;

  @include mq('phablet') {
    flex-direction: column;
  }

  .text {
    max-width: 220px;
    margin-right: 95px;

    @include mq('phablet') {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 45px;
    }
    .count {
      margin-bottom: 10px;
      @include adaptiv-font(62, 40);
      font-weight: bold;
    }

    .subtitle {
      @include adaptiv-font(20, 16);
      line-height: 28px;
      color: get($colors, 'gray-text');
    }
  }

  .imgsWrap {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 45px;

    @include mq('tablet') {
      grid-template-columns: repeat(2, auto);
      gap: 45px;
    }

    @include mq('phablet') {
      grid-template-columns: repeat(1, auto);
    }
  }
}
